<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung">Trang
                chủ</a>
        </li>
        <li class="breadcrumb-item"><a href="/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung">Quản
                lý thiết bị</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cập nhật</li>
    </ol>
</nav>
<div style="min-height: 750px;" id="input-invalid">
    <div>
        <form ng-submit="editDevice()" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Tên ĐTH
                    CNTT-VT</label>
                <div class="col-sm-4">
                    <input ng-model="dataForm.name" name="name" type="text" class="form-control" id="name"
                        placeholder="Nhập tên ĐTH CNTT-VT" required>
                </div>
                <label for="dthID" class="col-sm-2 control-label">Trạm phát
                    thanh</label>
                <div class="col-sm-4">
                    <input id="dthIDSearch" type="text" ng-model="dataForm.dthID" ng-click="showList= true"
                        class="form-control" autocomplete="off" placeholder="Nhập tìm kế hoạch phát thanh" required>
                    <ul ng-show="showList" class="radiostreaming_rule_ul">
                        <li ng-repeat="radionode in radionodes | filter:
                        dataForm.dthID" ng-click="selectRadionode(radionode.name,
                            $event)" class="radiostreaming_rule_li form-control" data-name-id="{{radionode.nameId}}">
                            {{radionode.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="latitude" class="col-sm-2 control-label">Vĩ độ</label>
                <div class="col-sm-4">
                    <input ng-model="dataForm.latitude" name="latitude" type="text" class="form-control" id="latitude"
                        placeholder="Nhập vĩ độ" required>
                    <div class="invalid-feedback"></div>
                </div>
                <label for="longitude" class="col-sm-2 control-label">Kinh
                    độ</label>
                <div class="col-sm-4">
                    <input ng-model="dataForm.longitude" name="longitude" type="text" class="form-control"
                        id="longitude" placeholder="Nhập kinh độ" required>
                    <div class="invalid-feedback"></div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="deviceId">Mã
                    thiết bị</label>
                <div class="col-xs-4">
                    <input ng-model="dataForm.deviceId" name="deviceId" type="text" class="form-control" id="deviceId"
                        placeholder="Nhập mã thiết bị" required>
                </div>
                <label class="col-xs-2 control-label" for="c_simphonenumber">Số điện thoại</label>
                <div class="col-xs-4">
                    <input ng-model="dataForm.c_simphonenumber" name="c_simphonenumber" type="text" class="form-control"
                        id="c_simphonenumber" placeholder="Nhập số điện thoại" required>
                    <div class="invalid-feedback"></div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="c_pausestatus">Tình
                    trạng tạm dừng</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.c_pausestatus" name="c_pausestatus" ng-model="dataForm.c_pausestatus"
                        class="form-control" required>
                        <option value="" selected>--Chọn một tùy chọn--</option>
                        <option value="1" selected>Bình thường</option>
                        <option value="2" selected>Tạm dừng </option>
                        <option value="3" selected>Đã dừng</option>
                    </select>
                </div>
                <label class="col-xs-2 control-label" for="c_techinterface">Kênh
                    giao tiếp</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.c_techinterface" name="c_techinterface"
                        ng-model="dataForm.c_techinterface" class="form-control" required>
                        <option value="" selected>--Chọn một tùy chọn--</option>
                        <option value="SIP" selected>SIP</option>
                        <option value="PJSIP" selected>PJSIP</option>
                        <option value="SCCP" selected>SCCP</option>
                        <option value="Android" selected>Android</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="miclevel">Mic-volume</label>
                <div class="col-xs-4">
                    <input ng-model="dataForm.miclevel" name="miclevel" type="text" class="form-control" id="miclevel"
                        placeholder="Nhập âm lượng MIC" required>
                    <div class="invalid-feedback"></div>
                </div>
                <label class="col-xs-2 control-label" for="spklevel">Speaker-volume</label>
                <div class="col-xs-4">
                    <input ng-model="dataForm.spklevel" name="spklevel" type="text" class="form-control" id="spklevel"
                        placeholder="Nhập âm lượng loa" required>
                    <div class="invalid-feedback"></div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="city">Tỉnh/Tp</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.city" class="form-control city" ng-model="dataForm.city"
                        ng-change="listDistricts()" required>
                        <option value="" selected>--Chọn tỉnh thành--</option>
                        <option ng-repeat="item in cities" value={{item.name}}_{{item.id}}>
                            {{item.name}}</option>
                    </select>
                </div>
                <label for="c_endpointtype" class="col-sm-2 control-label">Thiết
                    bị đầu cuối</label>
                <div class="col-sm-4">
                    <input ng-model="dataForm.c_endpointtype" name="c_endpointtype" type="text" class="form-control"
                        id="c_endpointtype" placeholder="Nhập loại thiêt bị
                        " required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label" for="district">Quận/Huyện</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.district" class="form-control district" ng-model="dataForm.district"
                        ng-change="listWards()" required>
                        <option value="" selected>--Chọn huyện--</option>
                        <option ng-repeat="item in districts" value={{item.nameId}}>
                            {{item.name}}</option>
                    </select>
                </div>
                <label class="col-xs-2 control-label" for="issetting">Thiết
                    lập</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.issetting" name="issetting" ng-model="dataForm.issetting"
                        class="form-control" required>
                        <option value="" selected>--Chọn một tùy chọn--</option>
                        <option value="SD001" selected>Chưa thiết lập</option>
                        <option value="SD002" selected>Đang thiết lập</option>
                        <option value="SD003" selected>Đã thiết lập</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="ward">Phường/Xã</label>
                <div class="col-xs-4">
                    <select class="form-control ward" ng-selected="dataForm.ward" ng-model="dataForm.ward" required>
                        <option value="" selected>--Chọn phường xã--</option>
                        <option ng-repeat="item in wards" value={{item.nameId}}>{{item.name}}</option>
                    </select>
                </div>
                <label class="col-xs-2 control-label" for="c_channelId">Kênh kết nối</label>
                <div class="col-xs-4">
                    <input ng-model="dataForm.c_channelId" name="c_channelId" type="text" class="form-control"
                    id="c_channelId">
                </div>
            </div>
            <div class="form-group">
                <label for="note" class="col-sm-2 control-label">Ghi chú</label>
                <div class="col-sm-10">
                    <textarea ng-model="dataForm.note" name="note" type="text" class="form-control" id="note"
                        placeholder="Ghi chú" rows="3" style="resize:
                        none;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $("#c_simphonenumber").on("input", function () {
                validatePhoneNumber($(this));
            });
            $("#miclevel").on("input", function () {
                validateMicLevel($(this));
            });
            $("#spklevel").on("input", function () {
                validateSpeakerLevel($(this));
            });
            $("#longitude").on("input", function () {
                validateLongitude($(this));
            });
            $("#latitude").on("input", function () {
                validateLatitude($(this));
            });

            $('.city').select2();
            $('.district').select2();
            $('.ward').select2();
        });
        //=========================================================
        (function () {
            const inputElementplaychedule = document.getElementById('dthIDSearch');
            const ulElementplaychedule = document.querySelector('.radiostreaming_rule_ul');

            document.addEventListener('click', function (event) {
                const isClickInsideInput = inputElementplaychedule.contains(event.target);
                if (!isClickInsideInput) {
                    ulElementplaychedule.style.display = 'none';
                }
            });

            inputElementplaychedule.addEventListener('click', function () {
                ulElementplaychedule.style.display = 'block';
            });
        })();
    </script>