<div>
    <div class="row" style="margin:0">
        <div class="col-xs-2"></div>
        <div class="col-xs-6">
            <h3>Thêm thư viện nguồn</h3>
        </div>
    </div>
    
    <form class="form-horizontal" ng-submit="addlibrary()">
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="name">Nguồn</label>
            <div class="col-xs-6">
                <input type="text" data-bv-message="Vui lòng nhập nguồn" id="name" ng-model="dataForm.name" name="name" class="form-control" placeholder="Nhập nguồn" required>
            </div>
        </div>
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="uri">URI</label>
            <div class="col-xs-6">
                <input type="text" data-bv-message="Vui lòng nhập URI" ng-model="dataForm.uri" id="uri" name="uri" class="form-control" placeholder="Nhập URI" required>
            </div>
        </div>
        <div class="form-group" style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="contenttype">Loại</label>
            <div class="col-xs-6">
                <input type="text" id="contenttype" ng-model="dataForm.contenttype" name="contenttype" class="form-control" data-bv-message="Vui lòng nhập Loại" placeholder="Nhập loai" required>
            </div>
        </div>
        <div class="form-group" style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="status">Trạng thái</label>
            <div class="col-xs-6">
                <label>
                    <input type="radio" name="status" ng-model="dataForm.status" value="PLAYING" checked="checked">
                    Đang phát &emsp;
                  </label>
                  <label>
                    <input type="radio" name="status" ng-model="dataForm.status" value="PAUSE">
                    Tạm dừng &emsp;
                  </label>
                  <label>
                    <input type="radio" name="status" ng-model="dataForm.status" value="DISCONNECT">
                    Mất kết nối &emsp;
                  </label>
                  <label>
                    <input type="radio" name="status" ng-model="dataForm.status" value="IDLE">
                    Nhàn rỗi
                  </label>
            </div>
        </div>
        <div class="form-group" style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="description">Ghi chú</label>
            <div class="col-xs-6">
                <input type="text" id="description" ng-model="dataForm.description" name="description" class="form-control" placeholder="Nhập ghi chú">
            </div>
        </div>
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </form>
</div>