<div class="title">
    <h3>Kiến nghị của người dân</h3>
</div>

<div class=" row" style="margin:0">
    <div class="has-search search-date">
        <form class="navbar-form navbar-left" ng-submit="searchFilter()" style="padding:0;padding-left: 15px;">
            <div class="form-group" style="padding-right: 50px;">
              <input ng-model="filter" type="text" placeholder="Nhập mã tìm kiếm tại đây" name="search2" required>
            <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="form-group">
                <label>Từ ngày </label>
                <input  type="date" class="form-control dateTimePicker" ng-model="from_date" ng-value="from_date" placeholder="yyyy-mm-dd">
                <label> đến </label>
                <input type="date" class="form-control dateTimePicker" ng-model="to_date" ng-value="to_date" placeholder="yyyy-mm-dd">
            </div>
            
        </form>
        <!-- <div class="function">
            <a class="glyphicon glyphicon-plus icon" href="#" ></a>
            <a class="glyphicon glyphicon-pencil icon"href="#" ></a>
            <a class="glyphicon glyphicon-remove icon"href="#" ></a>
        </div> -->
    </div>
</div>
<style>
    .function{
    float: right;
    margin-top: 7px;
    }
    .icon{
        color: #0d67b1;;
        padding: 10px;
    }
</style>
<div>
    <table class="table table-bordered table-hover table-striped table-actived" style="width:100%;margin-top:10px">
      <thead>
        <tr class="panel-info list-group-item-info" style="text-transform: uppercase;font-weight: bold;">
          <th style="text-align:center;width:60px;">STT</th>
          <th style="width:200px">thời gian</th>
          <th>kiến nghị</th>
          <th>phản hồi</th>
          <th>trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td style="text-align:center">{{item.id}}</td>
          <td>{{item.time}}</td>
          <td>{{item.request}}</td>
          <td>{{item.response}}</td>
          <td>{{item.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>