<!DOCTYPE html>
<html>

<head>
    <base href="/admin/">
    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Access-Control-Allow-Headers" content="X-Requested-With, accept, content-type" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,
            user-scalable=no, width=device-width">
    <link rel="shortcut icon" href="https://my.vnpt.com.vn/logo.svg" />
    <title>HỆ THỐNG THÔNG TIN NGUỒN CẤP TỈNH</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="./Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./Content/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./Content/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="./Content/vendor/linearicons/style.css">
    <link rel="stylesheet" href="./Content/vendor/chartist/css/chartist-custom.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./Content/css/select2.min.css" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="./Content/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="./Content/css/demo.css">
    <!--thuatnd free style-->
    <link rel="stylesheet" href="./Content/css/cropper.min.css">
    <link rel="stylesheet" href="./Content/css/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <script>
        //proxy
        var _temUrl = "/";
        window.host = "/";

        window.images = "/Content/images/";
        window.ship_image = window.images;
        window.base_url = "/";
        window.map_img = window.images + 'vn.png';
        window.host_api = "/";
        window.templateUrl = './template/';
    </script>
    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="./Content/lib/jquery.min.js"></script>
    <script src="./Content/lib/cropper.min.js"></script>
    <script src="./Content/lib/jquery.mask.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.5.3/full/ckeditor.js"></script>
    <script src="./Content/lib/angular.min.js"></script>
    <script src="./Content/lib/select2.min.js"></script>

    <script src="./Content/lib/angular-ui-router.js"></script>
    <script src="./Content/lib/angular-cookies.js"></script>
    <script src="./Content/lib/angular-filter.js"></script>
    <script src="./Content/lib/angular-ckeditor.js"></script>
    <script src="./Content/lib/bootstrap.min.js"></script>
    <script src="./Content/lib/bootstrapValidator.min.js"></script>
    <script src="./Content/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="./Content/lib/printThis.js"></script>
    <script src="./Content/lib/bootstrap-datetimepicker.min.js"></script>
    <script src="./Content/lib/angular-base64-upload.js"></script>
    <script src="./Content/lib/adminlte.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="./Content/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="./Content/scripts/klorofil-common.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="./Content/js/app.js"></script>
    <script src="./Content/js/account.js"></script>
    <script src="./Content/js/data_json.js"></script>
    <script src="./Content/js/modal-template-src.js"></script>
    <script src="./Content/js/webStore.js"></script>
    <script src="./Content/js/validation.js"></script>

    <!-- page list -->

    <style>
        body {
            height: 99.9vh;
            margin: 0;
            box-sizing: border-box;
        }

        #header {
            min-height: 73px;
        }

        #footer {
            min-height: 50px;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .list-group-item:before {
            content: "\00bb";
            margin-right: 5px;
        }

        a.list-group-item {
            color: #3290a7;
        }

        .input-upload {
            position: absolute;
            top: 0;
            margin: 0;
            height: 30px;
            opacity: 0;
            filter: alpha(opacity=0);
            font-size: 200px !important;
            direction: ltr;
            cursor: pointer;
            width: 130px;
        }

        .form-control-feedback {
            right: 5px
        }

        .bd-example-modal-lg .modal-dialog {
            display: table;
            position: relative;
            margin: 0 auto;
            top: calc(30% - 24px);
        }

        .bd-example-modal-lg .modal-dialog .modal-content {
            background-color: transparent;
            border: none;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body ng-app="ngAdmin">
    <!-- WRAPPER -->
    <div id="wrapper" style="position:relative">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top" ng-show="!login_active">
            <div class="brand" style="padding:16px 39px">
                <a ui-sref="seller"><img src="./content/images/logovnpt-blue.png" style="width:180px" alt="VNPT Logo"
                        class="img-responsive logo"></a>
            </div>
            <div class="container-fluid" style="position:relative">
                <div class="navbar-btn" style="margin-left:46px;">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-menu"></i></button>
                </div>
                <div class="bar-title">
                    HỆ THỐNG THÔNG TIN NGUỒN CẤP TỈNH
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown mn_help">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="lnr lnr-question-circle"></i>
                                <span>Hỗ trợ</span> <i class="icon-submenu
                                        lnr
                                        lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://hotrovnpt.vtctelecom.com.vn" target="_blank">Hỗ trợ 24/7</a></li>
                            </ul>
                        </li>
                        <li class="dropdown mn_manager">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{$user.Fullname}}</span>
                                <i class="icon-submenu lnr
                                        lnr-chevron-down"></i><i class="fa
                                        fa-user icon_user"></i></a>
                            <ul class="dropdown-menu">
                                <li><a ng-if="$user.Roles.indexOf('auth_get')
                                            != -1" ui-sref="list$account"><i class="lnr lnr-user"></i> <span>Quản
                                            lý tài khoản</span></a></li>
                                <li><a ng-if="$user.Roles.indexOf('auth_reset')
                                            != -1" ui-sref="change$password"><i class="lnr lnr-cog"></i> <span>Đổi
                                            mật khẩu</span></a></li>
                                <li><a href="javascript:void(0)" ng-click="logOut()" class="text-danger"><i class="lnr
                                                lnr-exit
                                                text-danger"></i> <span>Đăng
                                            xuất</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar" ng-show="!login_active">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav sidebar-menu" ng-if="$user.Roles.indexOf('seller') != -1" data-widget="tree">
                        <li class="treeview">
                            <a>
                                <i class="lnr lnr-construction"></i> <span>Đài truyền thanh ứng dụng CNTT-VT</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active-menu"><a
                                        href="../index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung"><i
                                            class="fa fa-circle-o" style="font-size:11px"></i>Trạm phát thanh</a></li>
                                <li><a href="../index.html#!/quan-ly-thiet-bi/thiet-bi"><i class="fa fa-circle-o"
                                            style="font-size:11px"></i>Quản lý thiết bị</a></li>

                                <li><a href="../index.html#!/phat-thanh"><i class="fa fa-circle-o"
                                            style="font-size:11px"></i> Phát thanh</a></li>
                            </ul>
                        </li>
                        <li class="treeview ">
                            <a><i class="fa fa-database"></i>
                                <span>Dữ liệu nguồn</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="../index.html#!/kho-du-lieu"><i class="fa fa-circle-o"
                                            style="font-size:11px"></i> Kho
                                        dữ liệu </a></li>
                                <li><a href="../index.html#!/quan-ly-thiet-bi/bang-tin-cong-cong"><i
                                            class="fa fa-circle-o" style="font-size:11px"></i> Bảng
                                        tin điện tử công
                                        cộng</a></li>
                                <li><a href="../index.html#!/thu-vien-nguon"><i class="fa fa-circle-o"
                                            style="font-size:11px"></i> Thư
                                        viện nguồn</a></li>
                                <li><a href="../index.html#!/icecast-url"><i class="fa fa-circle-o"
                                            style="font-size:11px"></i>Icecast
                                        URL</a></li>
                            </ul>
                        </li>
                        <li><a href="../index.html#!/bao-cao-thong-ke"><i class="lnr
                                        lnr-chart-bars"></i> <span>Báo cáo, thống kê</span></a></li>
                        <li><a href="../index.html#!/kien-nghi-cua-nguoi-dan"><i class="lnr lnr-question-circle"></i>
                                <span>Kiến nghị của người dân</span></a></li>
                        <li class="treeview active">
                            <a>
                                <i class="lnr lnr-users"></i> <span> Quản trị</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="../index.html#!/quan-tri-tai-khoan-nguoi-dung"><i class="fa fa-circle-o"
                                            style="font-size:11px"></i> Quản
                                        trị tài khoản người dùng</a></li>
                                <li><a href="../index.html#!/quan-tri-nhom-nguoi-dung"><i class="fa fa-circle-o"
                                            style="font-size:11px"></i> Quản
                                        trị nhóm người dùng</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div ng-class="{ 'main': !login_active}">
            <!-- MAIN CONTENT -->
            <div ng-class="{ 'main-content': !login_active}">
                <div ng-class="{ 'container-fluid': !login_active}">
                    <div ui-view>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <a style="float:left;padding-right:15px; padding-top: 8px;"><img src="./content/images/logovnpt.png"
                        style="width:100px" alt="VNPT Logo" class="img-responsive logo"></a>
                <p style="color:#fff;margin-bottom:0">Công ty Cổ phần Công
                    nghệ Công nghiệp Bưu chính Viễn thông.</p>
                <p style="color:#fff;margin-bottom:0">GCNĐKDN số :
                    0105140413 do Sở KHĐT Tp.Hà Nội cấp lần đầu ngày
                    06/01/2011. <a href="#" target="_blank" style="text-align:right;float:right;color:#fff">
                        Copyright
                        ©2023 VNPT. All rights reserved.</a></p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!--Loading overlay-->
    <div class="overlay">
        <div class="spanner">
            <div class="loader"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".treeview-menu li").click(function () {
                $(".treeview-menu li").removeClass("active-menu");
                $(this).addClass("active-menu");
            });
        });
    </script>
</body>

</html>