<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung">Trang chủ</a>
        </li>
        <li class="breadcrumb-item"><a href="/index.html#!/quan-ly-thiet-bi/lich-phat">Lịch phát thanh</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cập nhật</li>
    </ol>
</nav>
<div style="min-height: 750px;" id="input-invalid">
    <div>
        <form ng-submit="editPlayschedule()" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Tên lịch phát</label>
                <div class="col-sm-4">
                    <input ng-model="formData.name" name="name" type="text" class="form-control" id="name"
                        placeholder="Nhập tên lịch phát thanh" required>
                </div>
                <label for="dthID" class="col-sm-2 control-label">Trạm phát thanh</label>
                <div class="col-sm-4">
                    <input id="dthIDSearch" type="text" ng-model="formData.dthID" ng-click="showList = true"
                        class="form-control" autocomplete="off" placeholder="Nhập tìm kế hoạch phát thanh"
                        onBlur="hideList()" required>
                    <ul ng-show="showList" class="radiostreaming_rule_ul">
                        <li ng-repeat="radionode in radionodes | filter: formData.dthID"
                            ng-click="selectRadionode(radionode.name, $event)"
                            class="radiostreaming_rule_li form-control" data-name-id="{{radionode.nameId}}">
                            {{radionode.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="c_active" class="col-sm-2 control-label">Hoạt động</label>
                <div class="col-sm-4">
                    <select ng-selected="formData.c_active" name="c_active" ng-model="formData.c_active"
                        class="form-control" required>
                        <option value="" selected>--Chọn--</option>
                        <option value="1" selected>Có</option>
                        <option value="0" selected>Không</option>
                    </select>
                </div>
                <label for="c_scheduletype" class="col-sm-2 control-label">Loại kết hoạch</label>
                <div class="col-sm-4">
                    <select ng-selected="formData.c_scheduletype" name="c_scheduletype"
                        ng-model="formData.c_scheduletype" class="form-control" required>
                        <option value="" selected>--Chọn một tùy chọn--</option>
                        <option value="SP01" selected>Hằng ngày</option>
                        <option value="SP02" selected>Đột xuất</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="city">Tỉnh/Tp</label>
                <div class="col-xs-4">
                    <select ng-selected="formData.city" class="form-control" ng-model="formData.city"
                        ng-change="listDistricts()" required>
                        <option value="" selected>--Chọn tỉnh thành--</option>
                        <option ng-repeat="item in cities" value={{item.name}}_{{item.id}}>
                            {{item.name}}</option>
                    </select>
                </div>
                <label for="field" class="col-sm-2 control-label">Lĩnh vực</label>
                <div class="col-sm-4">
                    <select ng-selected="formData.field" name="field" ng-model="formData.field " class="form-control"
                        required>
                        <option value="" selected>--Chọn một tùy chọn--</option>
                        <option value="NEWS" selected>Tin tức</option>
                        <option value="ECON" selected>Kinh tế</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="district">Quận/Huyện</label>
                <div class="col-xs-4">
                    <select ng-selected="formData.district" class="form-control" ng-model="formData.district"
                        ng-change="listWards()" required>
                        <option value="" selected>--Chọn huyện--</option>
                        <option ng-repeat="item in districts" value={{item.nameId}}>
                            {{item.name}}</option>
                    </select>
                </div>
                <label class="col-xs-2 control-label" for="type">Phân loại</label>
                <div class="col-xs-4">
                    <select ng-selected="formData.type" name="type" ng-model="formData.type " class="form-control"
                        required>
                        <option value="" selected>--Chọn một tùy chọn--</option>
                        <option value="TYPE1" selected>Loại 1</option>
                        <option value="TYPE2" selected>Loại 2</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="ward">Phường/Xã</label>
                <div class="col-xs-4">
                    <select class="form-control" ng-selected="formData.ward" ng-model="formData.ward" required>
                        <option value="" selected>--Chọn phường xã--</option>
                        <option ng-repeat="item in wards" value={{item.nameId}}>{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="date_from" class="col-sm-2 control-label">Từ ngày</label>
                <div class="col-sm-4">
                    <input ng-model="formData.date_from" name="date_from" type="date" class="form-control"
                        id="date_from" required>
                </div>
                <label for="date_to" class="col-sm-2 control-label">Đến ngày</label>
                <div class="col-sm-4">
                    <input ng-model="formData.date_to" name="date_to" type="date" class="form-control" id="date_to"
                        required>
                </div>
            </div>

            <div class="form-group">
                <label for="hour_from" class="col-sm-2 control-label">Giờ từ</label>
                <div class="col-sm-4">
                    <input ng-model="formData.hour_from" name="hour_from" type="time" class="form-control"
                        id="hour_from" required>
                </div>
                <label for="hour_to" class="col-sm-2 control-label">đến</label>
                <div class="col-sm-4">
                    <input ng-model="formData.hour_to" name="hour_to" type="time" class="form-control" id="hour_to"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label for="hour_from1" class="col-sm-2 control-label">[Giờ từ]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.hour_from1" name="hour_from1" type="time" class="form-control"
                        id="hour_from1">
                </div>
                <label for="hour_to1" class="col-sm-2 control-label">[đến]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.hour_to1" name="hour_to1" type="time" class="form-control" id="hour_to1">
                </div>
            </div>
            <div class="form-group">
                <label for="c_c_hour_from2" class="col-sm-2 control-label">[Giờ từ-2]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.c_hour_from2" name="c_hour_from2" type="time" class="form-control"
                        id="c_hour_from2">
                </div>
                <label for="c_hour_to2" class="col-sm-2 control-label">[đến-2]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.c_hour_to2" name="c_hour_to2" type="time" class="form-control"
                        id="c_hour_to2">
                </div>
            </div>
            <div class="form-group">
                <label for="c_hour_from3" class="col-sm-2 control-label">[Giờ từ-3]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.c_hour_from3" name="c_hour_from3" type="time" class="form-control"
                        id="c_hour_from3">
                </div>
                <label for="c_hour_to3" class="col-sm-2 control-label">[đến-3]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.c_hour_to3" name="c_hour_to3" type="time" class="form-control"
                        id="c_hour_to3">
                </div>
            </div>
            <div class="form-group">
                <label for="c_hour_from4" class="col-sm-2 control-label">[Giờ từ-4]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.c_hour_from4" name="c_hour_from4" type="time" class="form-control"
                        id="c_hour_from4">
                </div>
                <label for="hour_to4" class="col-sm-2 control-label">[đến-4]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.c_hour_to4" name="c_hour_to4" type="time" class="form-control"
                        id="c_hour_to4">
                </div>
            </div>
            <div class="form-group">
                <label for="c_hour_from5" class="col-sm-2 control-label">[Giờ từ-5]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.c_hour_from5" name="c_hour_from5" type="time" class="form-control"
                        id="c_hour_from5">
                </div>
                <label for="c_hour_to5" class="col-sm-2 control-label">[đến-5]</label>
                <div class="col-sm-4">
                    <input ng-model="formData.c_hour_to5" name="c_hour_to5" type="time" class="form-control"
                        id="c_hour_to5">
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Ngày trong tuần</label>
                <div class="col-sm-10" id="week_day">
                    <label
                        ng-repeat="(index, day) in ['Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7']">
                        <input type="checkbox" ng-model="dataplayschedules['week_day_' + (index + 1)]"
                            value="{{ index + 1 }}" ng-checked="dataplayschedules.week_day.indexOf(index + 1) !== -1"
                            ng-click="toggleWeekDay(index + 1)">
                        {{ day }} &emsp;
                    </label>
                    <button type="button" class="btn_all" ng-click="select_all_WeekDay()">Chọn tất cả</button>
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Ngày</label>
                <div class="col-sm-10" id="week_day">
                    <label
                        ng-repeat="(index, day) in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']">
                        <input type="checkbox" ng-model="dataplayschedules['day_' + (index + 1)]"
                            value="{{ index + 1 }}"
                            ng-checked="dataplayschedules.day.split(',').indexOf('{{index + 1}}') !== -1"
                            ng-click="toggleDay(index + 1)">
                        {{ day }} &emsp;
                    </label>
                    <button type="button" class="btn_all" ng-click="select_all_Day()">Chọn tất cả</button>
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Tháng</label>
                <div class="col-sm-10" id="week_day">
                    <label
                        ng-repeat="(index, month) in ['Tháng giêng', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12']">
                        <input type="checkbox" ng-model="dataplayschedules['month_' + (index + 1)]"
                            value="{{ index + 1 }}"
                            ng-checked="dataplayschedules.month.split(',').indexOf('{{index + 1}}') !== -1"
                            ng-click="toggleMonth(index + 1)">
                        {{ month }} &emsp;
                    </label>
                    <button type="button" class="btn_all" ng-click="select_all_Month()">Chọn tất cả</button>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Mô tả</label>
                <div class="col-sm-8">
                    <input ng-model="formData.description" name="description" type="text" class="form-control"
                        id="description" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function edit_week_day() {
        var inputs = document.querySelectorAll("#week_day input[type='checkbox']");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].removeAttribute("disabled");
            inputs[i].checked = false;
        }
    }
    function edit_day() {
        var inputs = document.querySelectorAll("#day input[type='checkbox']");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].removeAttribute("disabled");
            inputs[i].checked = false;
        }
    }
    function edit_month() {
        var inputs = document.querySelectorAll("#month input[type='checkbox']");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].removeAttribute("disabled");
            inputs[i].checked = false;
        }
    }
    (function () {
        const inputElement = document.getElementById('dthIDSearch');
        const ulElement = document.querySelector('.radiostreaming_rule_ul');
        document.addEventListener('click', (event) => {
            const isClickInsideInput = inputElement.contains(event.target);
            if (!isClickInsideInput) {
                ulElement.style.display = 'none';
            }
        });
        inputElement.addEventListener('click', () => {
            ulElement.style.display = 'block';
        });
    })();
    //Check ngày   
    document.getElementById("date_from").addEventListener("change", checkday);
    document.getElementById("date_to").addEventListener("change", checkday);
    function checkday() {
        var startDate = document.getElementById("date_from").value;
        var endDate = document.getElementById("date_to").value;
        if (startDate !== "" && endDate !== "") {
            if (startDate >= endDate) {
                alert("Lưu ý ngày bắt đầu phải trước ngày kết thúc.");
            }
        }
    }
    //check giờ 
    document.getElementById("hour_from").addEventListener("change", checkBothDatesFilled);
    document.getElementById("hour_to").addEventListener("change", checkBothDatesFilled);

    document.getElementById("hour_from1").addEventListener("change", checkBothDatesFilled);
    document.getElementById("hour_to1").addEventListener("change", checkBothDatesFilled);

    document.getElementById("c_hour_from2").addEventListener("change", checkBothDatesFilled);
    document.getElementById("c_hour_to2").addEventListener("change", checkBothDatesFilled);

    document.getElementById("c_hour_from3").addEventListener("change", checkBothDatesFilled);
    document.getElementById("c_hour_to3").addEventListener("change", checkBothDatesFilled);

    document.getElementById("c_hour_from4").addEventListener("change", checkBothDatesFilled);
    document.getElementById("c_hour_to4").addEventListener("change", checkBothDatesFilled);

    document.getElementById("c_hour_from5").addEventListener("change", checkBothDatesFilled);
    document.getElementById("c_hour_to5").addEventListener("change", checkBothDatesFilled);

    function checkBothDatesFilled() {
        var hour_from = document.getElementById("hour_from").value;
        var hour_to = document.getElementById("hour_to").value;
        if (hour_from !== "" && hour_to !== "") {
            if (hour_from >= hour_to) {
                alert("Lưu ý giờ từ phải trước giờ giờ đến.");
            }
        }

        var hour_from1 = document.getElementById("hour_from1").value;
        var hour_to1 = document.getElementById("hour_to1").value;
        if (hour_from1 !== "" && hour_to1 !== "") {
            if (hour_from1 >= hour_to1) {
                alert("Lưu ý [giờ từ] phải trước [đến].");
            }
        }

        var hour_from2 = document.getElementById("c_hour_from2").value;
        var hour_to2 = document.getElementById("c_hour_to2").value;
        if (hour_from2 !== "" && hour_to2 !== "") {
            if (hour_from2 >= hour_to2) {
                alert("Lưu ý [giờ từ 2] phải trước [đến 2].");
            }
        }

        var hour_from3 = document.getElementById("c_hour_from3").value;
        var hour_to3 = document.getElementById("c_hour_to3").value;
        if (hour_from3 !== "" && hour_to3 !== "") {
            if (hour_from3 >= hour_to3) {
                alert("Lưu ý [giờ từ 3] phải trước [đến 3].");
            }
        }

        var hour_from4 = document.getElementById("c_hour_from4").value;
        var hour_to4 = document.getElementById("c_hour_to4").value;
        if (hour_from4 !== "" && hour_to4 !== "") {
            if (hour_from4 >= hour_to4) {
                alert("Lưu ý [giờ từ 4] phải trước [đến 4].");
            }
        }

        var hour_from5 = document.getElementById("c_hour_from5").value;
        var hour_to5 = document.getElementById("c_hour_to5").value;
        if (hour_from5 !== "" && hour_to5 !== "") {
            if (hour_from5 >= hour_to5) {
                alert("Lưu ý [giờ từ 5] phải trước [đến 5].");
            }
        }
    }
</script>