<div class=" row" style="margin:0">
    <div class="has-search search-date">
        <div style="float:left;width:120px;margin-top: 8px;" ng-if="$user.Roles.indexOf('tiki_key_asu') != -1">
            <button class="btn btn-success" ng-click="fnconfirm()"><i class="glyphicon glyphicon-floppy-saved"></i> Lấy key</button>
        </div>
        <div style="float:left;width:200px;margin-top: 8px;" ng-if="$user.Roles.indexOf('tiki_key_asu') != -1">
            <button class="btn btn-danger" ng-click="fnCancelKey()"><i class="glyphicon glyphicon-floppy-remove"></i> Hủy key</button>
        </div>
        <div class="form-group has-feedback has-search" style="float:left;width:250px;margin-top: 8px;">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
            <input type="text" class="form-control" ng-model="filter" placeholder="Tìm theo mã sản phẩm hoặc tên công ty" my-enter="searchFilter()">
        </div>
        <form class="navbar-form navbar-left" ng-submit="searchFilter()" style="padding:0;padding-left: 15px;">
            <div class="form-group">
                <select class="form-control" ng-model="status" ng-selected="status">
                    <option value="-1">Tất cả</option>
                    <option value="0">Xuất bán</option>
                    <option value="1">Kích hoạt</option>
                    <option value="2">Tạm dừng</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Tìm</button>
        </form>
    </div>

</div>
<table class="table table-bordered" style="width:100%;margin-top:10px">
    <thead>
        <tr class="panel-info list-group-item-info">
            <th style="text-align:center;width:60px">STT</th>
            <th>Tên sản phẩm</th>
            <th>Mã code</th>
            <th>Tên KH</th>
            <th>Địa chỉ KH</th>
            <th>Ngày xuất key</th>
            <th class="text-center">Xuất hóa đơn?</th>
            <th style="width:150px" class="text-center">Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="data.length == 0"><td colspan="9">{{textloading}}</td></tr>
        <tr ng-repeat="item in data | filter:filter">
            <td class="text-center" style="width:60px">{{((page*num)+$index)+1}}</td>
            <td>{{item.prod.name}}</td>
            <td style="width:250px">{{item.ordr.code}}</td>
            <td>{{item.cust.name}}</td>
            <td>{{item.cust.address}}</td>
            <td style="width:150px">{{item.ordr.created_date}}</td>
            <td class="text-center" style="width:150px">{{item.ordr.invoice ? 'Có' : 'Không'}}</td>
            <td class="text-center">
                <span ng-if="item.ordr.status.code != 0" ng-class="{'text-success': item.ordr.status.code == 1, 'text-danger': item.ordr.status.code == 2}">{{item.ordr.status.name}}</span>
                <span style="cursor:pointer" ng-if="item.ordr.status.code == 0 && $user.Roles.indexOf('tiki_key_asu') != -1" class="text-primary" ng-click="invoiceDetail(item.ordr.refId)">{{item.ordr.status.name}} <i class="glyphicon glyphicon-modal-window"></i></span>
                <span style="cursor:pointer" ng-if="item.ordr.status.code == 0 && $user.Roles.indexOf('tiki_key_asu') < 0" class="text-primary">{{item.ordr.status.name}}</span>

            </td>
        </tr>
    </tbody>
</table>
<div>
    <div class="btn-group">
        <ul uib-pagination next-text="Tiếp theo"
            previous-text="Quay về" first-text="Đầu"
            last-text="Cuối"
            total-items="bigTotalItems"
            ng-model="bigCurrentPage"
            ng-change="pageChanged()"
            max-size="maxSize"
            class="pagination-sm"
            boundary-links="true"
            force-ellipses="true"></ul>
    </div>
    <div style="float:right;margin-right:10px">{{bigTotalItems}} bản ghi</div>
</div>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
