<div>
    <div class="title">
        <h3>Quản lý thiết bị</h3>
    </div>

    <div class="input-group" style="width: 40%; float: left; margin-bottom: 10px;">
        <input class="form-control" type="text" ng-model="searchKeyword" placeholder="Nhập từ khóa tìm kiếm">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
    <div class=" row" style="margin:0">

        <div class="function">
            <a class="glyphicon glyphicon-plus icon" href="../index.html#!/quan-ly-thiet-bi/thiet-bi/them"></a>
        </div>
    </div>
</div>
<div>
    <table class="table table-bordered table-hover table-striped table-actived" style="width:100%;margin-top:10px">
        <thead>
            <tr class="panel-info list-group-item-info" style="color:white;background-color: rgb(11, 72, 129);">
                <th style="text-align:center;width:10px;">STT</th>
                <th style="width:17%;">MÃ_ĐTH CNTT - VT</th>
                <th style="width:13%;">NGÀY LẮP</th>
                <th style="width:17%;">TÊN</th>
                <th style="width:17%;">VỊ TRÍ</th>
                <th>TRẠNG THÁI</th>
                <th>LOẠI THIẾT BỊ</th>
                <th>GHI CHÚ</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <div>
            <tbody>
                <tr
                    ng-repeat="item in data | filter: searchKeyword | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage">
                    <td style="text-align:center">{{$index +1}}</td>
                    <td>{{item.nameId}}</td>
                    <td>{{item.createDate*1000 | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.latitude}}, {{item.longitude}}</td>
                    <td>
                        <span ng-if="item.status != -1 && item.status != 1">ONLINE</span>
                        <span ng-if="item.status == -1">OFFLINE</span>
                        <span ng-if="item.status == 1">INCOMING</span>
                    </td>
                    <td>{{item.deviceType}}</td>
                    <td>{{item.note}}</td>
                    <td style="text-align:center;">
                        <a class="glyphicon glyphicon-pencil icon"
                            href="../index.html#!/quan-ly-thiet-bi/thiet-bi/cap-nhat/{{item.id}}"></a>
                        <a class="glyphicon glyphicon-remove icon" ng-click="deleteDevice(item.id, item.name)"></a>
                    </td>
                </tr>
            </tbody>
        </div>
    </table>
</div>
<div class="pagelist">
    <div class="pagination-wrapper">
        <div class="pagination">
            <a class="prev page-numbers" href="javascript:;" ng-click="prevPage()">Trước</a>
            <a class="page-numbers" href="javascript:;" ng-repeat="page in range()"
                ng-class="{active: currentPage == page}" ng-click="setPage(page)">{{ page }}</a>
            <a class="next page-numbers" href="javascript:;" ng-click="nextPage()">Sau</a>
        </div>
    </div>
</div>