<div style="min-height: 750px;" id="input-invalid">
    <h1 style="text-align: center;margin-bottom: 40px;color: #0D67B1;">Cập nhật thiết bị
    </h1>
    <div>
        <form ng-submit="editDevice()" class="form-horizontal">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label form-label">Tên</label>
                <div class="col-sm-8">
                    <input ng-model="formData.name" name="name" type="text" class="form-control form-label" id="name"
                        placeholder="Nhập tên" required>
                </div>
            </div>
            <div class="form-group">
                <label for="createDate" class="col-sm-2 control-label">Ngày lắp</label>
                <div class="col-sm-8">
                    <input ng-model="createDate" name="createDate" type="date" class="form-control"
                        id="createDate" required>
                </div>
            </div>
            <div class="form-group">
                <label for="latitude" class="col-sm-2 control-label">Kinh độ</label>
                <div class="col-sm-8">
                    <input ng-model="formData.latitude" name="latitude" type="text" class="form-control"
                        id="latitude" placeholder="Nhập kinh độ" required>
                </div>
            </div>
            <div class="form-group">
                <label for="longitude" class="col-sm-2 control-label">Vĩ độ</label>
                <div class="col-sm-8">
                    <input ng-model="formData.longitude" name="longitude" type="text" class="form-control"
                        id="longitude" placeholder="Nhập vĩ độ" required>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">Trạng thái</label>
                <div class="col-sm-8">
                    <select class="form-control" name="" ng-selected="formData.status" ng-model="formData.status" id=""
                        required>
                        <option value="ONLINE">ONLINE</option>
                        <option value="OFFLINE">OFFLINE</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="deviceType" class="col-sm-2 control-label">Loại thiết bị</label>
                <div class="col-sm-8">
                    <input required ng-model="formData.deviceType" name="deviceType" type="text" class="form-control"
                        id="deviceType" placeholder="AUDIO BOX" required>
                </div>
            </div>
            <div class="form-group">
                <label for="note" class="col-sm-2 control-label">Ghi chú</label>
                <div class="col-sm-8">
                    <input data-bv-message="Vui lòng nhập ngày sinh" ng-model="formData.note" name="note" type="text"
                        class="form-control" id="note" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
        </form>
    </div>
</div>