<div>
    <div style="min-height:1000px;" id="input-invalid">
        <h1 style="text-align: center;margin-bottom: 40px;color: #0D67B1">Cập nhật đài truyền thanh và ứng dụng cntt -
            vt
        </h1>
        <div>
            <form ng-submit="editRadioApp()" class="form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Mã</label>
                    <div class="col-sm-8">
                        <input required ng-model="formData.name" name="name" type="text" class="form-control"
                            id="name">
                    </div>
                </div>
                <div class="form-group" style="margin:0;margin-bottom:15px">
                    <label class="col-xs-2 control-label" for="status">Tình trạng</label>
                    <div class="col-xs-6">
                        <label>
                            <input type="radio" name="status" ng-model="formData.status" value="NORMAL">
                            Bình thường &emsp;
                        </label>
                        <label>
                            <input type="radio" name="status" ng-model="formData.status" value="PLAYING">
                            Đang phát &emsp;
                        </label>
                        <label>
                            <input type="radio" name="status" ng-model="formData.status" value="PAUSE">
                            Tạm dừng &emsp;
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="province" class="col-sm-2 control-label">Tỉnh</label>
                    <div class="col-sm-8">
                        <input required ng-model="formData.province" name="province" type="text" class="form-control"
                            id="province">
                    </div>
                </div>
                <div class="form-group">
                    <label for="districId" class="col-sm-2 control-label">Huyện</label>
                    <div class="col-sm-8">
                        <input required ng-model="formData.districId" name="districId" type="text" class="form-control"
                            id="districId">
                    </div>
                </div>
                <div class="form-group">
                    <label for="communeId" class="col-sm-2 control-label">Xã</label>
                    <div class="col-sm-8">
                        <input required ng-model="formData.communeId" name="communeId" type="text" class="form-control"
                            id="communeId">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-8">
                        <textarea ng-model="formData.description" name="description" type="text" class="form-control"
                            id="description" rows="3"></textarea>
                    </div>
                </div>  
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>