<div>
    <div style="min-height:1000px;" id="input-invalid">
        <h1 style="text-align: center;margin-bottom: 40px;color: #0D67B1">Cập nhật đài truyền thanh và ứng dụng cntt -
            vt
        </h1>
        <div>
            <form ng-submit="editRadioApp()" class="form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Mã</label>
                    <div class="col-sm-8">
                        <input required ng-model="formData.name" name="name" type="text" class="form-control"
                            id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="province" class="col-sm-2 control-label">Tỉnh</label>
                    <div class="col-sm-8">
                        <input required ng-model="formData.province" name="province" type="text" class="form-control"
                            id="province">
                    </div>
                </div>
                <div class="form-group">
                    <label for="districId" class="col-sm-2 control-label">Huyện</label>
                    <div class="col-sm-8">
                        <input required ng-model="formData.districId" name="districId" type="text" class="form-control"
                            id="districId">
                    </div>
                </div>
                <div class="form-group">
                    <label for="communeId" class="col-sm-2 control-label">Xã</label>
                    <div class="col-sm-8">
                        <input required ng-model="formData.communeId" name="communeId" type="text" class="form-control"
                            id="communeId">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-default">Lưu thay đổi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>