<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Bản tin điện tử cộng đồng</li>
    </ol>
</nav>
<div>

    <div class="input-group" style="width: 40%; float: left">
        <input class="form-control" type="text" ng-model="searchKeyword" placeholder="Nhập từ khóa tìm kiếm">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
    <div class=" row" style="margin:0">

        <div class="function">
            <a class="glyphicon glyphicon-plus icon"
                href="../index.html#!/quan-ly-thiet-bi/bang-tin-cong-cong/them"></a>
        </div>
    </div>
</div>
<div>
    <table class="table table-bordered table-hover table-striped table-actived" style="width:100%;margin-top:10px">
        <thead>
            <tr class="panel-info list-group-item-info">
                <th style="width:16%;">MÃ_ĐTH CNTT - VT</th>
                <th style="width:10%;">NGÀY LẮP</th>
                <th style="width:16%;">TÊN</th>
                <th style="width:12%;">VỊ TRÍ</th>
                <th>TRẠNG THÁI</th>
                <th>LOẠI THIẾT BỊ</th>
                <th>GHI CHÚ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-repeat="item in data | filter:searchKeyword | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage">
                <td>{{item.nameId}}</td>
                <td>{{item.createDate*1000 | date:'dd/MM/yyyy'}}</td>
                <td>{{item.name}}</td>
                <td>{{item.lat}} - {{item.lng}} </td>
                <td>
                    <span ng-if="item.status == 'IDLE'">Đang hoạt động</span>
                    <span ng-if="item.status == 'REVERT'">Dự kiến</span>
                    <span ng-if="item.status == 'PAUSE'">Sửa chữa</span>
                    <span ng-if="item.status == 'REVOKE'">Di dời</span>
                </td>


                <td>{{item.deviceType}}</td>
                <td class="truncate">{{item.note}}</td>
                <td style="text-align:center;">
                    <a class="glyphicon glyphicon-pencil icon"
                        href="/index.html#!/quan-ly-thiet-bi/bang-tin-cong-cong/cap-nhat/{{item.id}}"></a>
                    <a class="glyphicon glyphicon-remove icon" ng-click="deletePublicNews(item.id, item.nameId)"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagelist">
    <div class="pagination-wrapper">
        <div class="pagination">
            <a class="prev page-numbers" href="javascript:;" ng-click="prevPage()">Trước</a>
            <a class="page-numbers" href="javascript:;" ng-repeat="page in range()"
                ng-class="{active: currentPage == page}" ng-click="setPage(page)">{{ page }}</a>
            <a class="next page-numbers" href="javascript:;" ng-click="nextPage()">Sau</a>
        </div>
    </div>
</div>