<div style="margin-left: 10px;">
    <div style="min-height: 800px;">
        <div>
            <h2 style="text-align: center;color: #0d67b1;font-weight: 700;">Quản lý đài truyền thanh và ứng dụng cntt -
                vt</h2>
        </div>
        <div class=" row" style="margin:0 0px;display: inline;">
            <form class="search-click" ng-submit="filterRadioApp()" style="max-width:300px">
                <input ng-model="filter" type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div style="line-height: 34px;float: right;padding-right: 10px;">
                <a href="http://127.0.0.1:5500/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung/them"
                    style="background-color: #F3F5F8;border: none;margin: 0 10px;">
                    <span class="glyphicon glyphicon-plus" style=" color: rgb(93, 170, 241);"></span>
                </a>
            </div>
        </div>
        <div>
            <table class="table table-bordered table-style-three"
                style="width:100%;margin-top:10px;font-size: smaller;">
                <thead>
                    <tr class="panel-info list-group-item-info" style="color:white;background-color: rgb(11, 72, 129);">
                        <th style="text-align:center;width:60px">STT</th>
                        <th>Mã</th>
                        <th>Tỉnh</th>
                        <th>Huyện</th>
                        <th>Xã</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data | filter:filter | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td style="text-align:center">{{$index+ currentPage*pageSize}}</td>
                        <td>{{item.province_id}}</td>
                        <td>{{item.province}}</td>
                        <td>{{item.district}}</td>
                        <td>{{item.commune}}</td>
                        <th
                            style="width:70px;background-color: white;border: 1px solid #ddd;padding: 0px;margin: 0px;line-height:39px;">
                            <a href="http://127.0.0.1:5500/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung/cap-nhat/id={{item.id}}"
                                style="background-color: #fff;border: none;margin-left: 10px;">
                                <span class="glyphicon glyphicon-pencil" style=" color: rgb(93, 170, 241);"></span>
                            </a>
                            <button ng-click="deleteRadioApp(item.id)" type="button"
                                style="background-color: #fff;border: none;margin-left: 10px;">
                                <span class="glyphicon glyphicon-remove" style="color: rgb(93, 170, 241);"></span>
                            </button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="pagination"
        style="float: right;padding-right: 10px;font-size: 18px;margin-bottom: 50px;margin-top: 0px;">
        <button type="button" ng-click="first()" ng-hide="currentPage==0">&laquo;</button>
        <button ng-click="previous()" ng-hide="currentPage==0">‹</button>
        <button ng-repeat="n in [] | range:totalPage(data.length,pageSize)" ng-click="thisPage(n)">{{n+1}}</button>
        <button ng-click="next()" ng-hide="currentPage>=size-1">›</button>
        <button ng-click="size=last(totalPage(data.length,pageSize)-1)" ng-hide="currentPage>=size-1">&raquo;</button>
    </div>
</div>