<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung">Trang chủ</a>
            </li>
            <li class="breadcrumb-item"><a href="/index.html#!/thu-vien-nguon">Thư viện nguồn</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Cập nhật</li>
        </ol>
    </nav>

    <form class="form-horizontal" id="enableForm" ng-submit="editsourcelibrary()">
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="name">Tên nguồn</label>
            <div class="col-xs-4">
                <input type="text" data-bv-message="Vui lòng nhập nguồn" id="name" ng-model="dataForm.name" name="name"
                    class="form-control" placeholder="Nhập nguồn" required>
            </div>
            <label class="col-xs-2 control-label" for="ipaddress">Địa chỉ IP</label>
            <div class="col-xs-4">
                <input type="text" id="ipaddress" ng-model="dataForm.ipaddress" name="ipaddress" class="form-control"
                    placeholder="Nhập địa chỉ ip" required>
            </div>
        </div>
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="uri">URI</label>
            <div class="col-xs-4">
                <input type="text" data-bv-message="Vui lòng nhập URI" ng-model="dataForm.uri" id="uri" name="uri"
                    class="form-control" placeholder="Nhập URI" required>
            </div>
            <label class="col-xs-2 control-label" for="channel">Kênh kết nối</label>
            <div class="col-xs-4">
                <input type="text" ng-model="dataForm.channel" id="channel" name="channel" class="form-control"
                    placeholder="Nhập kênh kết nối" required>
            </div>
        </div>
        <div class="form-group" style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="devicetype">Loại</label>
            <div class="col-xs-4">
                <select ng-selected="dataForm.devicetype" name="devicetype" ng-model="dataForm.devicetype"
                    class="form-control" required>
                    <option value="" selected>--Chọn một tùy chọn--</option>
                    <option value="SIP" selected>SIP</option>
                    <option value="RTSP" selected>RTSP</option>
                    <option value="RTMP" selected>RTMP</option>
                </select>
            </div>
            <label class="col-xs-2 control-label" for="miclevel">Âm lượng</label>
            <div class="col-xs-4">
                <input type="text" ng-model="dataForm.miclevel" id="miclevel" name="miclevel" class="form-control"
                    placeholder="Nhập âm lượng MIC ( từ 0 - 54)" required min="1" max="54">
            </div>
        </div>
        <div class="form-group" style="margin:0;margin-bottom:15px">
            <div class="form-group" style="margin:0;margin-bottom:15px">
                <label class="col-xs-2 control-label" for="province">Tỉnh/Tp</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.province" class="form-control province" ng-model="dataForm.provinceID"
                        ng-change="listDistricts()" required>
                        <option value="" selected>--Chọn tỉnh thành--</option>
                        <option ng-repeat="item in cities" value={{item.name}}_{{item.id}}>
                            {{item.name}}_{{item.id}}</option>
                    </select>
                </div>

                <label class="col-xs-2 control-label" for="starttime">Bắt đầu</label>
                <div class="col-xs-4">
                    <input type="datetime-local" id="starttime" ng-model="createDate" name="starttime"
                        class="form-control" required>
                </div>
            </div>
            <div class="form-group" style="margin:0;margin-bottom:15px">
                <label class="col-xs-2 control-label" for="districId">Quận/Huyện</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.districId" class="form-control district" ng-model="dataForm.districId"
                        ng-change="listWards()" required>
                        <option value="" selected>--Chọn huyện--</option>
                        <option ng-repeat="item in districts" value={{item.nameId}}>
                            {{item.nameId}}</option>
                    </select>
                </div>
                <label class="col-xs-2 control-label" for="status">Tình trạng</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.status" name="status" ng-model="dataForm.status" class="form-control"
                        required>
                        <option value="" selected>--Chọn một tùy chọn--</option>
                        <option value="PLAYING" selected>Đang phát</option>
                        <option value="PAUSE" selected>Tạm dừng</option>
                        <option value="DISCONNECT" selected>Mất kết nối</option>
                        <option value="IDLE" selected>Nhàn rỗi</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="margin:0;margin-bottom:15px">
                <label class="col-xs-2 control-label" for="wardId">Phường/Xã</label>
                <div class="col-xs-4">
                    <select class="form-control ward" ng-selected="dataForm.wardId" ng-model="dataForm.wardId" required>
                        <option value="" selected>--Chọn phường xã--</option>
                        <option ng-repeat="item in wards" value={{item.nameId}}>{{item.nameId}}</option>
                    </select>
                </div>
                <label class="col-xs-2 control-label" for="contenttype">Nội dung phát</label>
                <div class="col-xs-4">
                    <select ng-selected="dataForm.contenttype" name="contenttype" ng-model="dataForm.contenttype"
                        class="form-control" required>
                        <option value="" selected>--Chọn một tùy chọn--</option>
                        <option value="TRANS" selected>Tiếp âm từ MIXER</option>
                        <option value="MIC" selected>Tiếp âm từ MICCRO</option>
                        <option value="FM" selected>Tiếp sóng FM</option>
                    </select>
                </div>
            </div>

            <div class="form-group" style="margin:0;margin-bottom:15px">
                <label class="col-xs-2 control-label" for="description">Ghi chú</label>
                <div class="col-xs-10">
                    <input type="text" id="description" ng-model="dataForm.description" name="description"
                        class="form-control" placeholder="Nhập ghi chú">
                </div>
            </div>
            <div class="form-group " style="margin:0;margin-bottom:15px">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
    </form>
</div>
<script>
    $(document).ready(function() {
   $('.province').select2();
   $('.district').select2();
   $('.ward').select2();
});
</script>