 .navbar,.controls,.pagination{
        display:none;
    }
   
    table tr{
        display:table-row !important;
    }

    body {
        background-color: #FFFFFF;
    }
    .visible-print{
        display:block;
    }

   .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-color: #000 !important;
    border-width:1px;
    }
  
   .invisible-print{
       display:none;
   }