.title {
    text-align: center;
    margin-top: -30px;
}

.title h3 {
    color: #0d67b1;
    ;
    font-weight: bold;
}


.switch {
    position: relative;
    /*display: inline-block;*/
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.overlay {
    z-index: 9;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.darkgrey {
    background: darkgrey;
    cursor: no-drop;
}

.darkseagreen {
    background: #aae3ff;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.alert {
    margin-bottom: 0 !important;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-xs.toggle-on {
    text-align: left;
    padding: 5px 6px !important;
}

.btn-xs.toggle-off {
    text-align: left;
    padding: 5px 15px !important;
}

.changePrice:hover {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    background: #adeef9;
}

.small-box .icon>i {
    font-size: 90px;
    position: absolute;
    right: 25px;
    top: 15px;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear;
}

.small-box:hover .icon>i {
    text-decoration: none;
    transform: scale(1.1);
}

.small-box>.inner {
    padding: 10px;
}

.small-box .icon {
    color: rgba(0, 0, 0, .15);
    z-index: 0;
}

.small-box .icon {
    font-size: 70px;
    top: 20px;
}

.small-box>.small-box-footer {
    background-color: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, .8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.bg-info,
.bg-info>a {
    color: #fff !important;
    border-radius: 5px;
}

.small-box h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}

.small-box p {
    font-size: 1.2rem;
}

/***color
--blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
*/
.bg_box0 {
    background: #007bff !important;
}

.bg_box1 {
    background: #e83e8c !important;
}

.bg_box2 {
    background: #fd7e14 !important;
}

.bg_box3 {
    background: #28a745 !important;
}

.bg_box4 {
    background: #20c997 !important;
}

.bg_box5 {
    background: #17a2b8 !important;
}

.bg_box6 {
    background: #6c757d !important;
}

.bg_box7 {
    background: #dc3545 !important;
}

.bg_box8 {
    background: #6610f2 !important;
}

.bg_box9 {
    background: #6f42c1 !important;
}

.bar-title {
    float: inline-end;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: calc(4px + 1.5vh);
    font-size: calc(8px + 3vh);
    text-transform: uppercase;
    color: #0d67b1;
    font-weight: 600;
    z-index: 2;
}

.vertical-align-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    display: table;
}

.auth-box .right .text {
    z-index: 99
}


.page {
    margin: 1em auto;
    max-width: 768px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

.box {
    padding: 0.5em;
    width: 100%;
    margin: 0.5em;
}

.box-2 {
    padding: 0.5em;
    width: calc(100%/2 - 1em);
}

.options label,
.options input {
    width: 4em;
    padding: 0.5em 1em;
}

.hide {
    display: none;
}

.picture {
    display: table;
    width: 180px;
    height: 210px;
    border: 1px solid #ddd;
    padding: 5px;
    background: #ebebeb;
    margin: 15px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.picture span {
    width: 100%;
    height: 100%;
    font-size: 90px;
    text-align: center;
    position: relative;
    top: 25%;
}

div.upload {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    height: 40px;
    padding: 3px 40px 3px 3px;
    position: relative;
    width: auto;
    margin-right: 15px;
}

div.upload:hover {
    opacity: 0.95;
}

div.upload input[type="file"] {
    display: input-block;
    width: 100%;
    height: 34px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.uploadButton {
    background-color: #00AAFF;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    margin-right: 15px;
    width: auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.fileName {
    font-family: Arial;
    font-size: 14px;
}

.upload+.uploadButton {
    height: 38px;
}

.sidebar-menu {
    list-style: none !important;
    margin: 0;
    padding: 0
}

.treeview-menu {
    display: none;
    list-style: none !important;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0
}

.sidebar-menu .treeview-menu>li>a {
    color: #8aa4af;
}

.sidebar a {
    color: #b8c7ce;
}

.treeview-menu>li>a {
    padding: 5px 5px 5px 5px;
    display: block;
    font-size: 14px;
}

.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px !important;
    display: block
}

.sidebar-menu>li>a>.fa,
.sidebar-menu>li>a>.glyphicon,
.sidebar-menu>li>a>.ion {
    width: 20px
}

.sidebar-menu>li .label,
.sidebar-menu>li .badge {
    margin-right: 5px
}

.sidebar-menu>li .badge {
    margin-top: 3px
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px
}

.sidebar-menu li>a>.fa-angle-left,
.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease
}

.sidebar-menu li>a>.fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px
}

.sidebar-menu .menu-open>a>.fa-angle-left,
.sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.sidebar-menu .active>.treeview-menu {
    display: block
}

@media (min-width: 768px) {

    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 50px !important;
        z-index: 840
    }

    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li {
        position: relative
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
        margin-right: 0
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
        border-top-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
        border-bottom-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info,
    .sidebar-mini.sidebar-collapse .sidebar-form,
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span,
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu,
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right,
    .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0)
    }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px
    }

    .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px
    }

    .sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
        display: none
    }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px
    }
}

table.table-style-three tr:nth-child(even) td {
    background-color: #ffffff;
}

/* manage */
table.table-style-three td {
    border-width: 0.5px;
    padding: 8px;
    border-style: solid;
    border-color: #c47272;
    border: 1px solid blue;
    background-color: #ebeaea;
}


#input-invalid input:invalid {
    border: rgb(229, 128, 128) solid 3px;
}

/* duy */
.icon {
    color: #0d67b1;
    padding: 10px;
}

.function {
    float: right;
    margin-top: 7px;
    border-radius: 50%;
    background-color: #969f9e;
}

.icon {
    transition: transform 0.3s ease-in-out;
    /* thời gian và kiểu chuyển động */
}

.icon:hover {
    transform: rotate(360deg);
    color: #4ba7f3
}

.has-search {
    margin-bottom: 0;
}

/* Page  */
.pagelist {
    display: flex;
    justify-content: left;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 11px;
    text-decoration: none;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
    border-radius: 50%;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}


