<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Đài truyền thanh ứng dụng CNTT - VT</li>
    </ol>
</nav>

<div>
    <div class="input-group" style="width: 40%; float: left">
        <input class="form-control" type="text" ng-model="searchKeyword" placeholder="Nhập từ khóa tìm kiếm">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
    <div class=" row" style="margin:0">

        <div class="function">
            <a class="glyphicon glyphicon-plus icon"
                href="../index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung/them"></a>
        </div>
    </div>
</div>

<div>
    <table class="table table-bordered table-hover table-striped table-actived" style="width:100%;margin-top:10px">
        <thead>
            <tr class="panel-info list-group-item-info">
                <th style="text-align:center;width:60px">STT</th>
                <th>Mã</th>
                <th>Tỉnh</th>
                <th>Huyện</th>
                <th>Xã</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-repeat="item in data | filter:searchKeyword | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage">
                <td style="text-align:center">{{$index+1}}</td>
                <td>{{item.nameId}}</td>
                <td ng-bind="item.province.split('_')[0]"></td>
                <td ng-bind="item.districId.split('_')[0]"></td>
                <td ng-bind="item.communeId.split('_')[0]"></td>
                <td style="text-align:center;">
                    <a class="glyphicon glyphicon-pencil icon"
                        href="../index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung/cap-nhat/{{item.id}}"></a>
                    <a class="glyphicon glyphicon-remove icon" ng-click="deleteRadioApp(item.id, item.nameId)"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagelist">
    <div class="pagination-wrapper">
      <div class="pagination">
        <a class="prev page-numbers" href="javascript:;" ng-click="prevPage()"><i class="fas fa-angle-double-left"></i></a>
        <a class="page-numbers" href="javascript:;"ng-repeat="page in range()" ng-class="{active: currentPage == page}" ng-click="setPage(page)">{{ page }}</a>
        <a class="next page-numbers" href="javascript:;" ng-click="nextPage()"><i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
  <style>
    .fas{
      font-size: 14px;
      color: #000;
      padding: 3px 10px;
    }
  </style>