<div style="width:100%">
    <div>
        <h3 style="margin-top: 0px; margin-bottom: 30px;">Thêm sản phẩm cho nhà cung cấp <strong>{{title}}</strong></h3>
    </div>
    <form id="formProducer">
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Kênh bán</span>
            </label>
            <div class="form-group col-sm-10">
                <select class="form-control" name="category" data-bv-message="Vui lòng chọn kênh bán" ng-model="dataProducer.channelId" required>
                    <option value="">Chọn 1 kênh bán</option>
                    <option ng-repeat="item in dataListChannel" ng-value="item.code">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Nhóm sản phẩm</span>
            </label>
            <div class="form-group col-sm-10">
                <select class="form-control" name="category" data-bv-message="Vui lòng chọn nhóm sản phẩm" ng-model="dataProducer.groupId" ng-change="loadProducts(dataProducer.groupId)" required>
                    <option value="">Chọn 1 nhóm sản phẩm</option>
                    <option ng-repeat="item in dataInsugroup" ng-value="item.code">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Sản phẩm</span>
            </label>
            <div class="form-group col-sm-10">
                <select size="3" ng-disabled="flag_product" data-bv-message="Vui lòng chọn ít nhất 1 sản phẩm" class="form-control select_product" name="dataProduct.productId[]" ng-model="dataProducer.productId" required>
                    <option value="">Chọn sản phẩm</option>
                    <option ng-repeat="item in dataListProduct" ng-value="item.code">{{item.name}}({{(item.code)}})</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Mã sản phẩm</span>
            </label>
            <div class="form-group col-sm-10">
                <input type="text" required class="form-control" ng-model="dataProducer.productCode"  name="dataProduct.productCode" data-bv-message="Vui lòng nhập mã sản phẩm" placeholder="Nhập mã sản phẩm">
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Gói</span>
            </label>
            <div class="form-group col-sm-10">
                <input id="dataProducttype" type="radio" value="m" name="dataProducer.type" ng-model="dataProducer.type" required /><label style="font-weight:inherit" for="dataProducttype"> Tháng</label>
                <input id="dataProducttype2" type="radio" value="y" name="dataProducer.type" ng-model="dataProducer.type" required /> <label style="font-weight:inherit" for="dataProducttype2"> Năm</label>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Mô tả ngắn</span>
            </label>
            <div class="form-group col-sm-10">
                <textarea required placeholder="Mô tả ngắn" name="description" data-bv-message="Vui lòng nhập mô tả" ng-model="dataProducer.description" style="width:100%" class="form-control"></textarea>
            </div>
        </div>
        
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Giá(VNĐ)</span>
            </label>
            <div class="form-group col-sm-10">
                <input type="text" id="number" required class="form-control" ng-model="dataProducer.price" pattern="[0-9]+([\.,][0-9]+)*" format name="dataProduct.target" data-bv-message="Vui lòng nhập giá sản phẩm" placeholder="Nhập giá sản phẩm">
            </div>
        </div>
        
        <div class="row">
            <label class="control-label col-sm-2">

            </label>
            <div class="form-group col-sm-10">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </form>
</div>