<div style="width:100%">
    <h3 style="margin-top:0px;">Sửa thông tin khuyến mãi</h3>
    <form id="formProduct">
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Tên</span>
            </label>
            <div class="form-group col-sm-10">
                <input type="text" required class="form-control" name="title" ng-model="dataProduct.title" placeholder="Nhập tên chương trình khuyến mãi">
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Kênh bán</span>
            </label>
            <div class="form-group col-sm-10">
                <select class="form-control" name="category" data-bv-message="Vui lòng chọn kênh bán" ng-model="dataProduct.channelId" ng-change="loadProducts(dataProduct.channelId)" required>
                    <option value="">Chọn 1 kênh bán</option>
                    <option ng-repeat="item in dataListChannel" ng-value="item.code">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Sản phẩm</span>
            </label>
            <div class="form-group col-sm-10">
                <select size="3" ng-disabled="flag_product" data-bv-message="Vui lòng chọn ít nhất 1 sản phẩm" class="form-control select_promotion" name="dataProduct.productId[]" ng-model="dataProduct.productId" multiple required>
                    <option value="">Chọn ít nhất 1 sản phẩm</option>
                    <option ng-repeat="item in dataListProduct" ng-value="item.code">{{item.name}}({{(item.code)}})</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Mô tả ngắn</span>
            </label>
            <div class="form-group col-sm-10">
                <textarea required placeholder="Mô tả ngắn" name="description" data-bv-message="Vui lòng nhập mô tả" ng-model="dataProduct.description" style="width:100%" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Loại</span>
            </label>
            <div class="form-group col-sm-10">
                <input id="dataProducttype" type="radio" value="1" ng-checked="dataProduct.type == 1" name="dataProduct.type" ng-model="dataProduct.type" /><label style="font-weight:inherit" for="dataProducttype"> Giá trị</label>
                <input id="dataProducttype2" type="radio" value="2" ng-checked="dataProduct.type == 2" name="dataProduct.type" ng-model="dataProduct.type" /> <label style="font-weight:inherit" for="dataProducttype2"> Phần trăm(%)</label>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Chiết khấu</span>
            </label>
            <div class="form-group col-sm-10">
                <input type="number" required class="form-control" name="dataProduct.scale" ng-model="dataProduct.scale" data-bv-message="Vui lòng nhập tỉ lệ khuyến mãi" placeholder="Nhập mức khuyến mãi">
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Mục tiêu</span>
            </label>
            <div class="form-group col-sm-10">
                <input type="text" required class="form-control" name="dataProduct.target" ng-model="dataProduct.target" pattern="[0-9]+([\.,][0-9]+)*" format data-bv-message="Vui lòng nhập mục tiêu mong muốn đạt được" placeholder="Nhập mục tiêu">
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2">
                <span>Thời gian bắt đầu & kết thúc</span>
            </label>
            <div class="form-group input-group col-sm-4" style="padding-left:15px;box-shadow:none">
                <span class="input-group-addon">Từ ngày</span>
                <input type="text" class="form-control dateTimePicker" disabled readonly name="from_date" data-bv-message="Vui lòng nhập ngày bắt đầu"  ng-value="dataProduct.fromdate | date:'yyyy-MM-dd HH:ss:00'" ng-model="dataProduct.fromdate" placeholder="yyyy-mm-dd" required>
                <span class="input-group-addon">đến ngày</span>
                <input type="text" class="form-control dateTimePicker" name="to_date" data-bv-message="Vui lòng nhập ngày kết thúc" ng-value="dataProduct.todate | date:'yyyy-MM-dd HH:ss:00'" ng-model="dataProduct.todate" placeholder="yyyy-mm-dd" required>
            </div>
        </div>

       
        <div class="row">
            <label class="control-label col-sm-2">

            </label>
            <div class="form-group col-sm-10">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </form>
</div>