<div style="width:100%">
    <div class="box-hight-chart">
        <div class="col col-lg-6 col-md-6">
            <div id="channel_pie"></div>
        </div>
        <div class="col col-lg-6 col-md-6">
            <div id="channel_linechart"></div>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="panel-info list-group-item-info">
                <th style="width:50px;text-align:center">STT</th>
                <th style="width:250px">Mã kênh</th>
                <th>Tên kênh</th>
                <th style="width:50px">Trạng thái</th>
            </tr>   
        </thead>
        <tbody>
            <tr ng-repeat="item in dataListChannel">
                <td style="width:50px;text-align:center">{{$index+1}}</td>
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>
                <td>
                    <span ng-click="updateStatus(item)">
                        <input type="checkbox" ng-checked="item.status == 1"  data-toggle="toggle" class="btnProductToggle chan_{{item.code}}">
                    </span>                   
                </td>
            </tr>
        </tbody>
    </table>
</div>