<div style="width:100%">
    <div class="input-group" style="float: left;margin-bottom: 10px;box-shadow:none">
        <input class="form-control" type="text" ng-model="filter" my-enter="searchFilter()"
            placeholder="Nhập từ khóa tìm kiếm theo tên sản phẩm, nhà cung cấp, kênh bán" />
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="searchFilter()"><i
                    class="glyphicon glyphicon-search"></i> Tìm</button>
        </span>
        <select class="form-control" style="width:200px" ng-model="filter_producer" ng-change="searchFilter()">
            <option value="">Chọn nhà cung cấp</option>
            <option ng-repeat="item in dataListProducer" ng-value="item.code">{{item.name}}</option>
        </select>
        <select class="form-control" style="width:200px" ng-model="filter_channel" ng-change="searchFilter()">
            <option value="">Chọn kênh bán</option>
            <option ng-repeat="item in dataListChannel" ng-value="item.code">{{item.name}}</option>
        </select>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="panel-info list-group-item-info">
                <th style="width:50px">STT</th>
                <th style="width:200px">Tên sản phẩm</th>
                <th style="width:150px">Product code</th>
                <th style="width:150px">Kênh bán</th>
                <th ng-class="selectedCls('producer.name')" ng-click="changeSorting('producer.name')"
                    style="cursor:row-resize ;width:100px">
                    Nhà cung cấp
                    <i class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="sort.descending"></i>
                    <i class="glyphicon glyphicon-sort-by-alphabet" ng-show="!sort.descending"></i>
                </th>
                <th style="width:80px">Mã spncc</th>


                <th style="width:100px">Giá mua</th>
                <th style="width:100px">Giá bán</th>
                <th style="width:150px">Mô tả</th>
                <th style="width:50px">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="data.length == 0">
                <td colspan="9">{{textloading}}</td>
            </tr>
            <!--<tr ng-if="data.length == 0"><td colspan="9">Dữ liệu trống</td></tr>-->

            <tr ng-repeat="item in data | filter:filter | orderBy:sort.column:sort.descending"
                ng-class="{'darkgrey' : item.product.price.status == 0 , 'darkseagreen' : item.product.price.status == 2}"
                uib-popover="{{(item.product.price.status == 0) ? 'Giá sản phẩm đã ngừng áp dụng cho sản phẩm này' : (item.product.price.status == 2) ? 'Giá bán chưa được áp dụng cho sản phẩm này, thời gian bắt đầu:' : ''}}{{(item.product.price.status == 2) ? item.product.valid_from : ''}}"
                popover-trigger="'mouseenter'">
                <td class="text-center">{{((page*maxSize)+$index)+1}}</td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.id}}</td>
                <td>{{item.channel.name}}
                </td>
                <td>{{item.producer.name}}</td>
                <td>{{item.product.code}}</td>
                <td class="text-right">{{formatNumbers(item.product.price.in)}}</td>
                <td class="text-right">
                    <span ng-click="changeOutPrice(item.product)" class="changePrice"
                        uib-popover="Click nếu bạn muốn sửa giá sản phẩm này." popover-trigger="'mouseenter'">
                        {{formatNumbers(item.product.price.out)}}
                    </span>

                </td>
                <td>{{item.product.description}}</td>
                <td class="text-center" style="vertical-align:middle">
                    <span ng-click="updateStatus(item)">
                        <input ng-disabled="item.product.price.status != 1" type="checkbox"
                            ng-checked="item.product.status" data-toggle="toggle"
                            class="btnProductToggle pro_{{item.product.id}}{{item.ordi_num}}">
                    </span>
                </td>

            </tr>
        </tbody>
    </table>

    <!--PAGING SC-->
    <div style="margin-bottom:10px;">
        <ul uib-pagination ng-change="pageChanged()" next-text="Tiếp theo" previous-text="Quay về"
            items-per-page="maxSize" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
            class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>