<div>
    <div class="row" style="margin:0">
        <div class="col-xs-2"></div>
        <div class="col-xs-6">
            <h3>Thêm mới tài khoản người dùng</h3>
        </div>
    </div>

    <form class="form-horizontal" id="enableForm" ng-submit="edituser()">
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="source">Tên người dùng</label>
            <div class="col-xs-6">
                <input type="text" data-bv-message="Vui lòng nhập tên người dùng" id="name" ng-model="manageruser.name"
                    name="name" class="form-control" placeholder="Nhập tên người dùng" required>
            </div>
        </div>
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="uri">Tài khoản</label>
            <div class="col-xs-6">
                <input type="text" data-bv-message="Vui lòng nhập tài khoản" ng-model="manageruser.account" id="account"
                    name="account" class="form-control" placeholder="Nhập tài khoản" required>
            </div>
        </div>
        <div class="form-group" style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="crud">Nhóm</label>
            <div class="col-xs-6">
                <select class="form-control" ng-selected="manageruser.group" name="group" ng-model="dataForm.group"
                    id="group" data-bv-message="Vui lòng chọn nhóm" required>
                    <option>Chọn nhóm</option>
                    <option value="Thanh Hóa">Thanh Hóa</option>
                    <option value="Khánh Hòa">Khánh Hòa</option>
                    <option value="Bình Định">Bình Định</option>

                </select>
            </div>
        </div>

        <div class="form-group " style="margin:0;margin-bottom:15px">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </div>
    </form>
</div>