<div>
    <div class="row" style="margin:0">
        <div class="col-xs-2"></div>
        <div class="col-xs-6">
            <h3>Đổi mật khẩu </h3>
        </div>
    </div>

    <form class="form-horizontal" id="enableForm">
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="OldPassword">Mật khẩu cũ</label>
            <div class="col-xs-6">
                <input type="text" data-bv-message="Vui lòng nhập mật khẩu cũ" id="OldPassword" ng-model="dataForm.OldPassword" name="OldPassword" class="form-control" placeholder="Nhập mật khẩu cũ" required>
            </div>
        </div>
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="Password">Mật khẩu mới</label>
            <div class="col-xs-6">
                <input type="password" data-bv-message="Vui lòng nhập mật khẩu mới" id="Password" ng-model="dataForm.Password" name="Password" class="form-control" placeholder="Nhập mật khẩu mới" required>
            </div>
        </div>
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <label class="col-xs-2 control-label" for="RePassword">Xác nhận mật khẩu</label>
            <div class="col-xs-6">
                <input type="password" class="form-control" data-bv-message="Vui lòng xác nhận lại mật khẩu mới" ng-model="dataForm.RePassword" name="RePassword" id="RePassword" placeholder="Xác nhận lại mật khẩu mới" required>
            </div>
        </div>
        <div class="form-group " style="margin:0;margin-bottom:15px">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </form>
</div>