<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/index.html#!/quan-ly-thiet-bi/truyen-thanh-ung-dung">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Kiến nghị của người dân</li>
  </ol>
</nav>

<div class=" row" style="margin:0">
  <div class="has-search search-date">
    <div class="input-group" style="width: 30%; float: left">
      <input class="form-control" type="text" ng-model="searchKeyword" placeholder="Nhập từ khóa tìm kiếm">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
    <!-- <form class="navbar-form " style="padding:0;padding-left:15px">
      <div class="form-group" style="padding-left:55px">
        <label>Từ ngày </label>
        <input type="date" class="form-control dateTimePicker" ng-model="from_date">
        <label> đến </label>
        <input type="date" class="form-control dateTimePicker" ng-model="to_date">
      </div> -->
    <!-- </form> -->
      <div class="function" style="margin-top:0px;">
        <a class="glyphicon glyphicon-plus icon" href="../index.html#!/them-kien-nghi-cua-nguoi-dan"></a>
      </div>

  </div>
</div>
<div>
  <table class="table table-bordered table-hover table-striped table-actived" style="width:100%;margin-top:10px">
    <thead>
      <tr class="panel-info list-group-item-info" style="text-transform: uppercase;font-weight: bold;">
        <th style="text-align:center;width:60px;">STT</th>
        <th style="width:200px">thời gian</th>
        <th>ten</th>
        <th>kiến nghị</th>
        <th>trạng thái</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items | filter: searchKeyword | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage">
        <td style="text-align:center">{{$index+1}}</td>
        <td>{{item.createDate*1000 | date:'dd/MM/yyyy'}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>
          <span ng-if="item.note == 1">Chưa xử lý</span>
          <span ng-if="item.note == 2">Đang xử lý</span>
          <span ng-if="item.note == 3">Đã xử lý</span>
        </td>
        <td style="text-align:center;">
          <a class="glyphicon glyphicon-pencil icon"
            href="../index.html#!/cap-nhat-kien-nghi-cua-nguoi-dan/{{item.id}}"></a>
          <a class="glyphicon glyphicon-remove icon" ng-click="deleterecommend(item.id,item.name)"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagelist">
  <div class="pagination-wrapper">
    <div class="pagination">
      <a class="prev page-numbers" href="javascript:;" ng-click="prevPage()">Trước</a>
      <a class="page-numbers" href="javascript:;" ng-repeat="page in range()" ng-class="{active: currentPage == page}"
        ng-click="setPage(page)">{{ page }}</a>
      <a class="next page-numbers" href="javascript:;" ng-click="nextPage()">Sau</a>
    </div>
  </div>
</div>